<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Normalize -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

  <!--[if lt IE 9]>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
     <![endif]-->

  <title>Realiza Acessoria</title>

</head>

<body class="bg-secondary">

  <div class="container mt-2">
    <div class="row">
      <div class="col">
        <div class="form-group w-25 mx-auto">
          <select class="form-control" name="" id="options" onchange="myOptions()">
            <option value="admin">Admin</option>
            <option value="client">Clientes</option>
            <option value="employee">Funcionários</option>
          </select>
        </div>
      </div>
    </div>

    <!--            Formulários         -->
    <div class="row" style="height: 700px;">
      <div id="formAdmin" class="col-12 col-md-4 mx-auto">
        <form action="/salvarAdmin" method="POST">
          <div class="card bg-light ">
            <h3 class="card-header text-center">Admin</h3>
            <div class="card-body">
              <h5 class="card-title text-center">Cadastrar Admin</h5>

              <div class="form-group">
                <Label for="name">Nome</Label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Digite o nome">
              </div>

              <div class="form-group">
                <Label for="login">Login</Label>
                <input type="text" class="form-control" name="login" id="login" placeholder="Digite o login">
              </div>

              <div class="form-group">
                <Label for="passwordA">Password</Label>
                <input type="password" class="form-control" name="passwordA" id="passwordA" placeholder="Digite a senha"
                  onkeyup="validateAdminPassword()">
                <div id="divPasswordA" style="display: none;" class="invalid-feedback">
                  <p>A senha deve conter no mínimo 8 digítos.</p>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button class="btn btn-success text-center" type="submit">Cadastrar Admin</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div id="formEmployee" class="col-12 col-md-4 mx-auto">
        <form action="/salvarEmployee" method="POST">
          <div class="card bg-light ">
            <h3 class="card-header text-center">Funcionários</h3>
            <div class="card-body">
              <h5 class="card-title text-center">Cadastrar Funcionários</h5>

              <div class="form-group">
                <Label for="nameE">Nome</Label>
                <input type="text" class="form-control" name="nameE" id="nameE" placeholder="Digite o nome">
              </div>

              <div class="form-group">
                <Label for="loginE">Login</Label>
                <input type="text" class="form-control" name="loginE" id="loginE" placeholder="Digite o login">
              </div>

              <div class="form-group">
                <Label for="passwordE">Password</Label>
                <input type="password" class="form-control" name="passwordE" id="passwordE" placeholder="Digite a senha"
                  onkeyup="validateEmployeePassword()">
                <div id="divPasswordE" style="display: none;" class="invalid-feedback">
                  <p>A senha deve conter no mínimo 8 digítos.</p>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button class="btn btn-success text-center" type="submit">Cadastrar Funcionário</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div id="formClient" class="col-12 col-md-4 mx-auto">
        <form action="/salvarClient" method="POST" onsubmit="submitClient(event, this)">
          <div class="card bg-light ">
            <h3 class="card-header text-center">Clientes</h3>
            <div class="card-body">
              <h5 class="card-title text-center">Cadastrar Clientes</h5>

              <div class="form-group">
                <Label for="nameC">Nome</Label>
                <input type="text" class="form-control" name="nameC" id="nameC" placeholder="Digite o nome">
              </div>

              <div class="form-group">
                <Label for="loginC">Login</Label>
                <input type="text" class="form-control" name="loginC" id="loginC" placeholder="Digite o login">
              </div>

              <div class="form-group">
                <Label for="passwordC">Password</Label>
                <input type="password" class="form-control" name="passwordC" id="passwordC" placeholder="Digite a senha"
                  onkeyup="validateClientPassword()">
                <div id="divPasswordC" style="display: none;" class="invalid-feedback">
                  <p>A senha deve conter no mínimo 8 digítos.</p>
                </div>
              </div>

              <div class="form-group">
                <select name="" id="selection" onchange="myFunction()">
                  <option value="pessoaF">Pessoa Física</option>
                  <option value="pessoaJ">Pessoa Jurídica</option>
                </select>
                <input type="text" class="form-control" name="cpfCNPJ" id="cpfCNPJ" placeholder="Digite o CPF">
              </div>

              <div class="d-flex justify-content-center">
                <button class="btn btn-success text-center" type="submit">Cadastrar Cliente</button>
              </div>

              <div id="divQuestionInvalid" style="display: none;" class="invalid-feedback text-center">
                <p style="font-size: 1.3em;">A senha deve conter no mínimo 8 digítos.</p>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("selection").value;
      if (x === "pessoaF") {
        document.getElementById("cpfCNPJ").placeholder = "Digite o CPF";
        document.getElementById("nameC").placeholder = "Digite o Nome";
      } else if (x === "pessoaJ") {
        document.getElementById("cpfCNPJ").placeholder = "Digite o CNPJ";
        document.getElementById("nameC").placeholder = "Digite o Nome Fantasia";
      }
    }

    function myOptions() {
      var y = document.getElementById("options").value;
      if (y === "admin") {
        document.getElementById('formAdmin').style.display = 'block';
        document.getElementById('formClient').style.display = 'none';
        document.getElementById('formEmployee').style.display = 'none';
      } else if (y === "client") {
        document.getElementById('formClient').style.display = 'block';
        document.getElementById('formAdmin').style.display = 'none';
        document.getElementById('formEmployee').style.display = 'none';
      } else if (y === "employee") {
        document.getElementById('formEmployee').style.display = 'block';
        document.getElementById('formAdmin').style.display = 'none';
        document.getElementById('formClient').style.display = 'none';
      }
    }

    function validateAdminPassword() {
      var a = document.getElementById("passwordA").value;
      if (a.length < 8) {
        document.getElementById("divPasswordA").style.display = 'block';
        document.getElementById("passwordA").className = "form-control is-invalid"

      } else if (a.length >= 8) {
        document.getElementById("divPasswordA").style.display = 'none';
        document.getElementById("passwordA").className = "form-control is-valid"
      }
    }

    function validateEmployeePassword() {
      var a = document.getElementById("passwordE").value;
      if (a.length < 8) {
        document.getElementById("divPasswordE").style.display = 'block';
        document.getElementById("passwordE").className = "form-control is-invalid"

      } else if (a.length >= 8) {
        document.getElementById("divPasswordE").style.display = 'none';
        document.getElementById("passwordE").className = "form-control is-valid"
      }
    }

    function validateClientPassword() {
      var a = document.getElementById("passwordC").value;
      if (a.length < 8) {
        document.getElementById("divPasswordC").style.display = 'block';
        document.getElementById("passwordC").className = "form-control is-invalid"
        document.getElementById("divQuestionInvalid").style.display = 'none';
      } else if (a.length >= 8) {
        document.getElementById("divPasswordC").style.display = 'none';
        document.getElementById("passwordC").className = "form-control is-valid"
      }
    }

    function submitClient(event, form) {
      event.preventDefault();

      var x = document.getElementById("passwordC").value;
      if (x.length >= 8) {
        form.submit();
      } else if (x.length < 8) {
        document.getElementById("passwordC").className = "form-control is-invalid"
        document.getElementById("divQuestionInvalid").style.display = 'block';
      }

    }
  </script>

</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>