<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Folha de estilo -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Normalize -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

  <!--[if lt IE 9]>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
     <![endif]-->

  <style>
    body {
      display: flex;
      align-items: center;
    }

    html,
    body {
      height: 100%
    }
  </style>

  <title>Realiza Assessoria</title>
</head>

<body class="bg-secondary">
  <div class="container">
    <div class="row d-flex justify-content-center ">
      <div class="card bg-light text-center col-12 col-md-10">
        <div class="card-header">
          <img src="/img/LOGO_EMPRESA.jpeg">
        </div>
        <div class="card-body col-9 col-sm-10 col-md-8 col-lg-4 m-auto">
          <h5 class="card-title">Login</h5>
          <form method="POST" action="/home">
            <div class="input-group " style="margin-top: 20px;">
              <div class="input-group-prepend">
                <i class="input-group-text bi bi-person-circle"></i>
              </div>
              <input id="login" type="text" class="form-control" placeholder="Digite seu usuário" name="login">
              <div class="invalid-feedback">
                Usuário e/ou senha incorretos
              </div>
            </div>

            <div class="input-group" style="margin-top: 20px;">
              <div class="input-group-prepend">
                <i class="input-group-text bi bi-lock-fill"></i>
              </div>
              <input id="password" type="password" class="form-control" placeholder="Digite sua senha" name="password">
            </div>

            <div class="row">
              <button type="button" class="btn btn-link">Esqueci minha senha</button>
            </div>


            <div class="row d-flex justify-content-center mt-2">
              <button type="submit" class="btn btn-success">Entrar</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted">
          <h6 class="pt-1">© CDEF Desenvolvedores – Todos os direitos reservados</h6>
        </div>
      </div>
    </div>
  </div>
  <input id="verification" type="hidden" value="<%= error %>">

  <script>
    window.onload = function login() {
      var x = document.getElementById("verification").value;
      if (x == 1) {
        document.getElementById("login").className = "form-control is-invalid";
      }
    }
  </script>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>