<%- include('./partials/navbar') %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" action="/perguntar" onsubmit="checkForm(event, this)">
                    <div class="card mt-3">
                        <div class="card-header">
                            <h2>Criar Pergunta</h2>
                        </div>

                        <div class="card-body">
                            <span>Título</span> <input type="text" class="form-control mb-2" name="title" id="title" placeholder="Título">
                            <span>Descrição</span> <textarea class="form-control mb-2" cols="30" rows="2" name="desc" id="desc" placeholder="Digite sua pergunta aqui"></textarea>
                            
                            <button type="submit" class="btn btn-primary">
                                Criar Pergunta
                            </button>
                            <hr>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    function checkForm(event, form){
        event.preventDefault();
        var title = document.getElementById('title').value
        var desc = document.getElementById('desc').value

        if(title.trim() == '' || desc.trim() == '') {
            alert("Preencha todos os campos obrigatórios")
        } else {
            form.submit();
        }
    }
</script>

</html>