<%- include("../partials/header.ejs")%>

    <body>
        <div class="container-fluid">
            <div class="row barraMenu bg-dark">
                <div class="col-6 col-md-4 offset-lg-1 col-lg-4 pl-5 pl-md-5">
                    <a href="#" class="btn btn-link text-info"
                        style="font-size: 27px; text-decoration: none; padding-top: 11px;">Realiza Acessoria</a>
                </div>

                <div class="col-6 col-md-8 col-lg-5">
                    <nav class="navbar navbar-dark navbar-expand-lg" style="padding: 14px;">
                        <!-- Logo -->
                        <a href="" class="navbar-brand"></a>

                        <!-- Menu Hamburguer -->
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navegacao">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- navegacao -->
                        <div class="col collapse navbar-collapse " id="navegacao">
                            <ul class="navbar-nav col-6 pl-2 offset-4 offset-md-1 offset-lg-3 ml-auto ml-md-4 col-12 p-0"
                                style="font-size: 1.04em; ">
                                <li class="nav-item ml-auto ml-lg-auto">
                                    <a href="#" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item  ml-auto ml-xl-1">
                                    <a href="order" class="nav-link">Pedidos</a>
                                </li>
                                <li class="nav-item  ml-auto ml-xl-1">
                                    <a href="" class="nav-link">Serviço</a>
                                </li>
                                <li class="nav-item  ml-auto ml-xl-1">
                                    <a href="" class="nav-link">Relatórios</a>
                                </li>
                                <li class="nav-item  ml-auto ml-xl-1">
                                    <a href="" class="nav-link">Configurações</a>
                                </li>
                                <li class="nav-item  ml-auto ml-xl-1">
                                    <a href="" class="nav-link">Sobre</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto">
                    <div class="card text-center mt-5">
                        <div class="card-header">
                            <h3>Sobre</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Aplicação desenvolvida por Douglas</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure id
                                veritatis
                                dolorum ipsum ipsa laborum facere architecto illo excepturi, minima repellendus
                                recusandae,
                                accusamus voluptate! Sunt eveniet animi mollitia totam culpa!</p>
                        </div>
                        <div class="card-footer">

                            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5562993751777" target="_blank"
                                class="btn btn-outline-dark"> <i class="bi bi-whatsapp"> </i></a>

                            <a href="mailto:douglasdepaula10@hotmail.com" target="_blank" class="btn btn-outline-dark">
                                <i class="bi bi-briefcase-fill"></i> </a>

                            <a href="https://github.com/douglas-ggoncalves" target="_blank"
                                class="btn btn-outline-dark"> <i class="bi bi-github"> </i></a>


                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include("../partials/footer.ejs")%>