<%- include('./partials/navbar') %>

<div class="container">
    <hr>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1>Bem-vindo</h1>
                <h5>Este é um simples blog</h5>
                <hr>
                <p>Descrição Detalhada</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <button class="btn btn-primary">
                    Saiba Mais
                </button>
            </div>
        </div>
    </div>
</div>

