a{
    color: white !important;
    text-decoration: none !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: linear-gradient(to bottom, #185992 0%, #31374F 100%);
    color: #fff !important;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5 !important;
    background: #fff !important;
}
/*
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #143450;
}
*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #225886 !important;
}

.input-group .form-control{
    border: 0;
}

button.btn.btn-link.aa:not(.collapsed){
    background-color: red !important;
    color: #0c63e4 !important;
}

button {
  margin: 0  .15rem !important;
}

#divMainReplic{
    #modalStore, #modalStoreEdit {
        .vm--modal {
            height: auto !important;
            bottom: 2rem !important;
            top: 2rem !important;
        }
    }

    td,tr {
        width: 20% !important;
    }

    .table > :not(:first-child){
        border-top: none !important;
    }

    .row {
        height: 100%;
      }
      
      .card {
        border: none !important;
      }
      
      div.card-body{
        margin-bottom: auto;
        margin-top: auto;
        text-align: left !important;
      }
      
      button {
        margin-top: auto;
      }

/*      .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
          background-color: #f1f1f1
        }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }

      a.btn.btn-outline-light{
        &:hover {
            color: black !important;
        }
      }
}