a{
    color: white !important;
    text-decoration: none !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: linear-gradient(to bottom, #185992 0%, #31374F 100%);
    color: #fff !important;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5 !important;
    background: #fff !important;
}
/*
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #143450;
}
*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #225886 !important;
}

.input-group .form-control{
    border: 0;
}

button.btn.btn-link.aa:not(.collapsed){
    background-color: red !important;
    color: #0c63e4 !important;
}

button {
  margin: 0  .15rem !important;
}

#divMainReplic{
    #modalStore, #modalStoreEdit {
        .vm--modal {
            height: auto !important;
            bottom: 2rem !important;
            top: 2rem !important;
        }
    }

    td,tr {
        width: 20% !important;
    }

    .table > :not(:first-child){
        border-top: none !important;
    }

    .row {
        height: 100%;
      }
      
      .card {
        border: none !important;
      }
      
      div.card-body{
        margin-bottom: auto;
        margin-top: auto;
        text-align: left !important;
      }
      
      button {
        margin-top: auto;
      }

/*      .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
          background-color: #f1f1f1
        }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background: #f1f1f1;
  }
  
  h3 {
    margin-top: 0;
  }
  
  .example {
    background: #ffffff;
    margin: 20px;
    border-color: #e7e7e7;
    padding: 40px;
  }
  
  .example pre {
    background: #1F2937;
    padding: 18px 20px;
    overflow-x: scroll;
    font-size: 0.85em;
  }
  
  .output {
    font-family: Courier, Courier New, Lucida Console, Monaco, Consolas;
    background: #000000;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
  }
  
  .multiselect-tag.is-user {
    padding: 5px 8px;
    border-radius: 22px;
    background: #35495e;
    margin: 3px 3px 8px;
  }
  
  .multiselect-tag.is-user img {
    width: 18px;
    border-radius: 50%;
    height: 18px;
    margin-right: 8px;
    border: 2px solid #ffffffbf;
  }
  
  .multiselect-tag.is-user i:before {
    color: #ffffff;
    border-radius: 50%;;
  }
  
  .user-image {
    margin: 0 6px 0 0;
    border-radius: 50%;
    height: 22px;
  }
  
  .character-option-icon {
    margin: 0 6px 0 0;
    height: 22px;
  }
  
  .character-label-icon {
    margin: 0 6px 0 0;
    height: 26px;
  }
  
  .toolbar {
    margin-right: 5px;
    
    button {
      cursor: pointer;
    }
  }
  
  [class*="language-"] {
    code, pre {
      color: #f8f8f2;
      background: none;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
      font-size: 14px;
      line-height: 1.75;
      border-radius: 8px;
    }
  
    /* Code blocks */
    pre {
      overflow: auto;
      padding: 1.5rem;
    }
  
    /* Inline code */
    :not(pre) > code {
      padding: 0.1em;
      border-radius: 0.3em;
      white-space: normal;
    }
  
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #6272a4;
    }
  
    .token.punctuation {
      color: #f8f8f2;
    }
  
    .namespace {
      opacity: 0.7;
    }
  
    .token.property,
    .token.tag,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #46ffe2;
    }
  
    .token.boolean,
    .token.number {
      color: #bd93f9;
    }
  
    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin {
      color: #50fa7b;
    }
  
    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string,
    .token.variable {
      color: #f8f8f2;
    }
  
    .token.atrule,
    .token.attr-value,
    .token.function,
    .token.class-name {
      color: #f1fa8c;
    }
  
    .keyword-highlight {
      padding: 0 2px;
      position: relative;
  
      &::after {
        content: "";
        background: currentColor;
        position: absolute;
        opacity: 0.25;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
      }
    }
  
    .token.keyword {
      color: #21d8ff;
    }
  
    .token.regex,
    .token.important {
      color: #ffb86c;
    }
  
    .token.important,
    .token.bold {
      font-weight: bold;
    }
  
    .token.italic {
      font-style: italic;
    }
  
    .token.entity {
      cursor: help;
    }
  }